# ActBlue donor profile

In [14]:
import json
import numpy as np
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import os

In [15]:
%matplotlib inline

plt.style.use('ggplot')

pd.options.display.float_format = '{:,.2f}'.format

In [16]:
def read_or_save(name, func):
    path = 'pickles/' + name + '.pickle.gz'
    if (os.path.isfile(path)):
        return pd.read_pickle(path)
    else:
        result = func()
        os.makedirs('pickles', exist_ok=True)
        result.to_pickle(path)
        return result

In [17]:
committee_id = "C00401224"
year_since = 2013

### Connect to the PostgreSQL database

In [18]:
with open("config.json") as f:
    conf = json.load(f)
conn = psycopg2.connect(
    dbname=conf['dbname'],
    user=conf['user'],
    host=conf['host'],
    password=conf['password']
)
conn.autocommit = True

In [19]:
actblue_contribs_count = read_or_save(
    'actblue_contribs_count',
    lambda: pd.read_sql("""
    -- DROP MATERIALIZED VIEW actblue_contribs;

    CREATE MATERIALIZED VIEW IF NOT EXISTS actblue_contribs AS
    SELECT contribs.*,
           fec_expenditures.election_code,
           beneficiary_committee_fec_id,
           beneficiary_candidate_fec_id,
           beneficiary_candidate_state,
           beneficiary_candidate_office,
           coalesce(cands.cand_id,cand_comms.cand_id) AS cand_id,
           coalesce(cands.cand_pty_affiliation,cand_comms.cand_pty_affiliation) AS cand_pty_affiliation,
           coalesce(cands.cand_office_st,cand_comms.cand_office_st) AS cand_office_st,
           coalesce(cands.cand_office,cand_comms.cand_office) AS cand_office,
           coalesce(cands.cand_pcc,cand_comms.cand_pcc) AS cand_pcc
    FROM
      (SELECT fec_contributions.filing_id,
              transaction_id,
              contributor_last_name,
              contributor_first_name,
              contributor_street_1,
              contributor_city,
              contributor_state,
              contributor_zip_code,
              contribution_date,
              contribution_amount,
              contributor_employer,
              contributor_occupation,
              memo_text_description
       FROM fec_contributions
       WHERE filing_id IN
           (SELECT filing_id
            FROM fec_pac_summaries
            JOIN fec_amended_filings USING (filing_id)
            WHERE filer_committee_id_number = 'C00401224'
              AND extract(YEAR
                          FROM coverage_through_date) >= 2013
            ORDER BY coverage_through_date DESC)
         AND form_type = 'SA11AI') AS contribs
    LEFT JOIN fec_expenditures ON fec_expenditures.filing_id IN
      (SELECT filing_id
       FROM fec_pac_summaries
       JOIN fec_amended_filings USING (filing_id)
       WHERE filer_committee_id_number = 'C00401224'
         AND extract(YEAR
                     FROM coverage_through_date) >= 2013
       ORDER BY coverage_through_date DESC)
    AND fec_expenditures.form_type = 'SB23'
    AND 'SB23_' || replace(transaction_id,'SA11AI_','') = transaction_id_number
    LEFT JOIN
      (SELECT DISTINCT ON (cand_id) cand_id,
                          cand_pcc,
                          cand_pty_affiliation,
                          cand_office_st,
                          cand_office
       FROM fec_candidates
       ORDER BY cand_id,
                cand_election_yr::int DESC) AS cands ON cands.cand_id = beneficiary_candidate_fec_id
    LEFT JOIN
      (SELECT DISTINCT ON (cand_pcc) cand_id,
                          cand_pcc,
                          cand_pty_affiliation,
                          cand_office_st,
                          cand_office
       FROM fec_candidates
       ORDER BY cand_pcc,
                cand_election_yr::int DESC) AS cand_comms ON cand_comms.cand_pcc = beneficiary_committee_fec_id; -- CREATE INDEX ON actblue_contribs ()

    GRANT ALL ON TABLE actblue_contribs TO redash_default;
    GRANT ALL ON TABLE actblue_contribs TO politics;

    ANALYZE actblue_contribs;

    SELECT count(*)
    FROM actblue_contribs;
    """, con=conn)
)
actblue_contribs_count

      count
0  73813481

### Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?

In [20]:
actblue_states = read_or_save(
    'actblue_states',
    lambda: pd.read_sql("""
    SELECT contributor_state,
           count(*),
           sum(contribution_amount)
    FROM actblue_contribs
    GROUP BY contributor_state
    """, con=conn)
)
actblue_states.sort_values(by=['sum'], ascending=False)

    contributor_state     count            sum
17                 CA  13929247 335,612,874.58
64                 NY   6454081 186,707,526.03
40                 MA   3187355  87,279,278.03
88                 TX   3732662  81,421,346.63
24                 FL   3660635  76,552,531.25
34                 IL   2820449  64,434,206.45
95                 WA   3152336  59,701,863.43
91                 VA   1903070  53,151,404.77
70                 PA   2476800  51,711,270.50
42                 MD   1692652  46,873,506.68
19                 CO   1986844  42,909,056.49
57                 NJ   1915870  41,909,996.44
45                 MI   1867948  35,805,453.92
21                 DC    549492  35,476,385.41
53                 NC   1672806  33,955,708.43
69                 OR   2187875  33,864,200.42
10                 AZ   1737472  33,434,668.45
20                 CT   1252673  31,506,128.67
65                 OH   1644253  30,478,929.77
46                 MN   1369767  26,926,886.86
97                 WI   1338463  25,556,929.17
25                 GA   1240432  23,870,756.41
47                 MO    958106  19,797,882.16
59                 NM    902815  16,747,585.64
35                 IN    773177  13,966,086.82
56                 NH    548011  12,749,122.15
85                 TN    726877  12,717,195.93
63                 NV    572545  12,700,833.17
32                 IA    540586  11,005,059.16
94                 VT    551998  10,521,946.09
..                ...       ...            ...
103                ZH        15         685.50
15                 BY        48         366.00
96                 WC       241         279.00
29                 HE       104         272.90
87                 TV        19         203.50
0                  92         1         200.00
67                 OM        20         179.02
78                 RM         5         120.00
14                 BW        19         119.80
81                 SH         5         106.00
86                 TR         1         100.00
83                 SP         6          81.50
100                XX         4          55.00
89                 UK         3          52.00
44                 MH         2          50.00
30                 HH         5          46.00
27                 GP        29          29.00
13                 BS         1          25.00
84                 TI         4          22.00
11                 BA         2          20.00
26                 GE         5          15.00
51                 NA         1          15.00
72                 PG         4          10.00
4                  AG         1          10.00
75                 QO         2          10.00
18                 CL         2          10.00
77                 RJ         1          10.00
16                 C0         1          10.00
39                 LI         1           5.00
102                YW         1           5.00

[106 rows x 3 columns]

In [21]:
actblue_states.to_csv('data/states.csv')

In [22]:
clinton_votes = pd.read_csv('data/clintonvotes.csv')

clinton_votes

votes_vs_contribs = actblue_states.merge(clinton_votes, left_on='contributor_state', right_on='postal', how='inner')

votes_vs_contribs['dollars_per'] = votes_vs_contribs['sum']/votes_vs_contribs['votes']

votes_vs_contribs.sort_values(by=['dollars_per'], ascending=False)

,contributor_state,count,sum,state,postal,votes,dollars_per
7,DC,549492,"35,476,385.41",District of Columbia,DC,282830,125.43
46,VT,551998,"10,521,946.09",Vermont,VT,178573,58.92
26,MT,363475,"8,862,784.24",Montana,MT,177709,49.87
19,MA,3187355,"87,279,278.03",Massachusetts,MA,1995196,43.74
32,NM,902815,"16,747,585.64",New Mexico,NM,385234,43.47
34,NY,6454081,"186,707,526.03",New York,NY,4556142,40.98
0,AK,227983,"4,492,464.77",Alaska,AK,116454,38.58
4,CA,13929247,"335,612,874.58",California,CA,8753792,38.34
30,NH,548011,"12,749,122.15",New Hampshire,NH,348526,36.58
50,WY,86714,"2,033,999.29",Wyoming,WY,55973,36.34
6,CT,1252673,"31,506,128.67",Connecticut,CT,897572,35.10
47,WA,3152336,"59,701,863.43",Washington,WA,1742718,34.26
37,OR,2187875,"33,864,200.42",Oregon,OR,1002106,33.79
5,CO,1986844,"42,909,056.49",Colorado,CO,1338870,32.05
11,HI,411890,"8,493,263.19",Hawaii,HI,266891,31.82
21,ME,534145,"10,386,040.60",Maine,ME,357735,29.03
3,AZ,1737472,"33,434,668.45",Arizona,AZ,1161167,28.79
20,MD,1692652,"46,873,506.68",Maryland,MD,1677928,27.94
45,VA,1903070,"53,151,404.77",Virginia,VA,1981473,26.82
44,UT,380214,"7,772,760.55",Utah,UT,310676,25.02
39,RI,274944,"6,189,622.70",Rhode Island,RI,252525,24.51
33,NV,572545,"12,700,833.17",Nevada,NV,539260,23.55
28,ND,78448,"2,006,417.10",North Dakota,ND,93758,21.40
43,TX,3732662,"81,421,346.63",Texas,TX,3877868,21.00
14,IL,2820449,"64,434,206.45",Illinois,IL,3090729,20.85
13,ID,256537,"3,810,779.00",Idaho,ID,189765,20.08
23,MN,1369767,"26,926,886.86",Minnesota,MN,1367825,19.69
31,NJ,1915870,"41,909,996.44",New Jersey,NJ,2148278,19.51
29,NE,267990,"5,362,619.21",Nebraska,NE,284494,18.85
49,WV,187672,"3,507,640.90",West Virginia,WV,188794,18.58
48,WI,1338463,"25,556,929.17",Wisconsin,WI,1382536,18.49
24,MO,958106,"19,797,882.16",Missouri,MO,1071068,18.48
38,PA,2476800,"51,711,270.50",Pennsylvania,PA,2926441,17.67
16,KS,423556,"7,517,002.02",Kansas,KS,427005,17.60
9,FL,3660635,"76,552,531.25",Florida,FL,4504975,16.99
12,IA,540586,"11,005,059.16",Iowa,IA,653669,16.84
8,DE,196078,"3,949,280.65",Delaware,DE,235603,16.76
22,MI,1867948,"35,805,453.92",Michigan,MI,2268839,15.78
41,SD,83757,"1,852,162.19",South Dakota,SD,117458,15.77
27,NC,1672806,"33,955,708.43",North Carolina,NC,2189316,15.51
2,AR,284379,"5,853,691.21",Arkansas,AR,380494,15.38
17,KY,449002,"9,469,944.06",Kentucky,KY,628854,15.06
42,TN,726877,"12,717,195.93",Tennessee,TN,870695,14.61
15,IN,773177,"13,966,086.82",Indiana,IN,1033126,13.52
36,OK,350677,"5,609,294.32",Oklahoma,OK,420375,13.34
35,OH,1644253,"30,478,929.77",Ohio,OH,2394169,12.73
10,GA,1240432,"23,870,756.41",Georgia,GA,1877963,12.71
18,LA,361944,"7,490,044.82",Louisiana,LA,780154,9.60
40,SC,453878,"8,088,048.19",South Carolina,SC,855373,9.46
1,AL,356756,"6,730,050.42",Alabama,AL,729547,9.22
25,MS,125235,"2,300,204.20",Mississippi,MS,485131,4.74

In [23]:
votes_vs_contribs['contribs_per'] = votes_vs_contribs['count']/votes_vs_contribs['votes']

votes_vs_contribs.sort_values(by=['contribs_per'], ascending=False)

,contributor_state,count,sum,state,postal,votes,dollars_per,contribs_per
46,VT,551998,"10,521,946.09",Vermont,VT,178573,58.92,3.09
32,NM,902815,"16,747,585.64",New Mexico,NM,385234,43.47,2.34
37,OR,2187875,"33,864,200.42",Oregon,OR,1002106,33.79,2.18
26,MT,363475,"8,862,784.24",Montana,MT,177709,49.87,2.05
0,AK,227983,"4,492,464.77",Alaska,AK,116454,38.58,1.96
7,DC,549492,"35,476,385.41",District of Columbia,DC,282830,125.43,1.94
47,WA,3152336,"59,701,863.43",Washington,WA,1742718,34.26,1.81
19,MA,3187355,"87,279,278.03",Massachusetts,MA,1995196,43.74,1.60
4,CA,13929247,"335,612,874.58",California,CA,8753792,38.34,1.59
30,NH,548011,"12,749,122.15",New Hampshire,NH,348526,36.58,1.57
50,WY,86714,"2,033,999.29",Wyoming,WY,55973,36.34,1.55
11,HI,411890,"8,493,263.19",Hawaii,HI,266891,31.82,1.54
3,AZ,1737472,"33,434,668.45",Arizona,AZ,1161167,28.79,1.50
21,ME,534145,"10,386,040.60",Maine,ME,357735,29.03,1.49
5,CO,1986844,"42,909,056.49",Colorado,CO,1338870,32.05,1.48
34,NY,6454081,"186,707,526.03",New York,NY,4556142,40.98,1.42
6,CT,1252673,"31,506,128.67",Connecticut,CT,897572,35.10,1.40
13,ID,256537,"3,810,779.00",Idaho,ID,189765,20.08,1.35
44,UT,380214,"7,772,760.55",Utah,UT,310676,25.02,1.22
39,RI,274944,"6,189,622.70",Rhode Island,RI,252525,24.51,1.09
33,NV,572545,"12,700,833.17",Nevada,NV,539260,23.55,1.06
20,MD,1692652,"46,873,506.68",Maryland,MD,1677928,27.94,1.01
23,MN,1369767,"26,926,886.86",Minnesota,MN,1367825,19.69,1.00
49,WV,187672,"3,507,640.90",West Virginia,WV,188794,18.58,0.99
16,KS,423556,"7,517,002.02",Kansas,KS,427005,17.60,0.99
48,WI,1338463,"25,556,929.17",Wisconsin,WI,1382536,18.49,0.97
43,TX,3732662,"81,421,346.63",Texas,TX,3877868,21.00,0.96
45,VA,1903070,"53,151,404.77",Virginia,VA,1981473,26.82,0.96
29,NE,267990,"5,362,619.21",Nebraska,NE,284494,18.85,0.94
14,IL,2820449,"64,434,206.45",Illinois,IL,3090729,20.85,0.91
24,MO,958106,"19,797,882.16",Missouri,MO,1071068,18.48,0.89
31,NJ,1915870,"41,909,996.44",New Jersey,NJ,2148278,19.51,0.89
38,PA,2476800,"51,711,270.50",Pennsylvania,PA,2926441,17.67,0.85
28,ND,78448,"2,006,417.10",North Dakota,ND,93758,21.40,0.84
42,TN,726877,"12,717,195.93",Tennessee,TN,870695,14.61,0.83
36,OK,350677,"5,609,294.32",Oklahoma,OK,420375,13.34,0.83
8,DE,196078,"3,949,280.65",Delaware,DE,235603,16.76,0.83
12,IA,540586,"11,005,059.16",Iowa,IA,653669,16.84,0.83
22,MI,1867948,"35,805,453.92",Michigan,MI,2268839,15.78,0.82
9,FL,3660635,"76,552,531.25",Florida,FL,4504975,16.99,0.81
27,NC,1672806,"33,955,708.43",North Carolina,NC,2189316,15.51,0.76
15,IN,773177,"13,966,086.82",Indiana,IN,1033126,13.52,0.75
2,AR,284379,"5,853,691.21",Arkansas,AR,380494,15.38,0.75
17,KY,449002,"9,469,944.06",Kentucky,KY,628854,15.06,0.71
41,SD,83757,"1,852,162.19",South Dakota,SD,117458,15.77,0.71
35,OH,1644253,"30,478,929.77",Ohio,OH,2394169,12.73,0.69
10,GA,1240432,"23,870,756.41",Georgia,GA,1877963,12.71,0.66
40,SC,453878,"8,088,048.19",South Carolina,SC,855373,9.46,0.53
1,AL,356756,"6,730,050.42",Alabama,AL,729547,9.22,0.49
18,LA,361944,"7,490,044.82",Louisiana,LA,780154,9.60,0.46
25,MS,125235,"2,300,204.20",Mississippi,MS,485131,4.74,0.26

In [24]:
actblue_in_state = read_or_save(
    'actblue_in_state',
    lambda: pd.read_sql("""
    SELECT CASE
               WHEN coalesce(beneficiary_candidate_state,cand_office_st) = contributor_state THEN TRUE
               ELSE FALSE
           END AS in_state,
           sum(contribution_amount),
           count(*)
    FROM actblue_contribs
    WHERE beneficiary_candidate_state IS NOT NULL
      OR cand_office_st IS NOT NULL
    GROUP BY in_state
    """, con=conn)
)
actblue_in_state

   in_state            sum     count
0     False 620,773,641.96  23794614
1      True 330,828,769.69   5974546

In [25]:
actblue_freq = read_or_save(
    'actblue_freq',
    lambda: pd.read_sql("""
    SELECT COUNT,
           count(*) AS count_of_count
    FROM
      (SELECT contributor_first_name,
              contributor_last_name,
              left(contributor_zip_code,5),
              count(*) AS COUNT
       FROM actblue_contribs
       GROUP BY contributor_first_name,
                contributor_last_name,
                left(contributor_zip_code,5)) AS donors
    GROUP BY COUNT
    """, con=conn)
)
actblue_freq

      count  count_of_count
0      1798               1
1      1489               3
2      1269               1
3       652              21
4       273             160
5        51            5705
6      2574               1
7       951               3
8      1898               2
9        70            3081
10      350              95
11      758               9
12     1750               1
13     1136               4
14      176             442
15      576              23
16     1831               2
17     1003               5
18      292             123
19     1331               3
20     6517               1
21     2784               1
22      929               9
23      663              19
24     1552               1
25     1589               1
26     1493               1
27     3725               1
28     5733               1
29     2125               2
...     ...             ...
2239   1450               1
2240    183             409
2241   1225               5
2242    150             629
2243   2787               1
2244   3225               1
2245    656              16
2246   2033               1
2247   2304               1
2248   3565               1
2249    122            1000
2250   3022               1
2251   1355               1
2252    648              16
2253    570              32
2254    923              12
2255    995               5
2256   4944               1
2257   1867               1
2258   1014              10
2259   1125               1
2260    530              36
2261    536              37
2262    928              10
2263   6571               1
2264   1715               1
2265    520              33
2266     55            4892
2267    148             660
2268    790              10

[2269 rows x 2 columns]

In [26]:
actblue_addicts = read_or_save(
    'actblue_addicts',
    lambda: pd.read_sql("""
    SELECT contributor_first_name,
           contributor_last_name,
           array_agg(DISTINCT contributor_occupation),
           array_agg(DISTINCT contributor_employer),
           array_agg(DISTINCT contributor_street_1),
           array_agg(DISTINCT contributor_city),
           contributor_state,
           left(contributor_zip_code,5) AS contributor_zip_code,
           count(*) AS COUNT,
           sum(contribution_amount) AS total,
           sum(contribution_amount)/count(*) AS avg_per
    FROM actblue_contribs
    WHERE extract(YEAR
                  FROM contribution_date) > 2016
    GROUP BY contributor_first_name,
             contributor_last_name,
             contributor_state,
             left(contributor_zip_code,5)
    ORDER BY COUNT DESC
    LIMIT 100
    """, con=conn)
)
actblue_addicts

,contributor_first_name,contributor_last_name,array_agg,array_agg,array_agg,array_agg,contributor_state,contributor_zip_code,count,total,avg_per
0,SIBYLLE,BARLOW,[RETIRED],[RETIRED],[241 HOLDEN WOOD ROAD],[CONCORD],MA,01742,14716,"54,401.98",3.70
1,TERRY,WOLFE,[RETAIL],"[LOWES, LOWE'S]","[1199 E 3RD ST, 1199 EAST THIRD STREET]",[MORGANTOWN],WV,26508,9456,"26,794.07",2.83
2,JOHN,COMELLA,[NONE],[NONE],[1900 J F KENNEDY BLVD SUITE 1624],[PHILADELPHIA],PA,19103,9359,"26,981.09",2.88
3,RICHARD,GOLDSTEIN,"[NOT EMPLOYED, RETIRED]","[NOT EMPLOYED, RETIRED]","[375 SAGAPONACK RD, L O BOX752, P O 752, POB0X...","[SAFAPONACK, SAGAPONACK]",NY,11962,8402,"146,293.73",17.41
4,VICKI,FARRAR,[NOT EMPLOYED],[NOT EMPLOYED],[P O BOX 140375],[GARDEN CITY],ID,83714,7856,"34,069.16",4.34
5,ROXANNE,WARREN,"[ARCHITECT, ARCHITECTS]",[SELF],[523 WEST 112TH STREET 72],[NEW YORK],NY,10025,7776,"79,123.94",10.18
6,CAROLINE,MERRIAM,[FOUNDATION PRESIDENT],[RAMSAY MERRIAM FUND],[1316 30TH STREET NW],[WASHINGTON],DC,20007,7710,"112,502.66",14.59
7,WILLIAM,CHEEK,[RETIRED PROFESSOR],[NONE],[6209 ESTELLE ST],[SAN DIEGO],CA,92115,7270,"85,805.11",11.80
8,MARTHA,UTZ,[NOT EMPLOYED],[NOT EMPLOYED],[1118 ALLSTON CT],[SAN JOSE],CA,95120,6996,"24,811.81",3.55
9,LUCY,HARMON,[NOT EMPLOYED],[SELF],[13621SHANNON ST],[LINDALE],TX,75771,6712,"59,341.99",8.84
10,GARLAND,RIGGS,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]",[8603 NIGHTINGALE DR ],[LANHAM],MD,20706,6482,"20,112.23",3.10
11,CLAUDIA,PALMER,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]",[15 GORHAM ROAD],[SCARSDALE],NY,10583,6474,"27,978.85",4.32
12,ROBERT,ECKEL,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]","[331 L DOLINGTON RD APT R2, 331LOWERDOLINGT N ...",[NEWTOWN],PA,18940,6147,"19,833.66",3.23
13,MONIQUE,WEIL,[RETIRED],[NONE],[6022 MERRIEWOOD DR],[OAKLAND],CA,94611,5753,"39,110.33",6.80
14,CHARLES Y,WRIGLEY,"[CEO, PRESIDENT]","[LUMITEK INTERNATIONAL, INC.]",[2732 HILLSIDE COURT],[IJAMSVILLE],MD,21754,5107,"13,494.28",2.64
15,GEORGE,KEARNEY,[NONE],[NONE],[3104 E BROADWAY RD - LOT 70],[MESA],AZ,85204,4803,"22,281.60",4.64
16,ROSE-MARY(MRS.DONALD,STROM,[NOT EMPLOYED],[NOT EMPLOYED],[1408 N0 10TH ST ],[MOORHEAD],MN,56560,4778,"26,491.10",5.54
17,DR. JUN,CHO,"[LAWYER, WHITE HOUSE]","[LAWYER, WHITE HOUSE]",[26 OKRIM-GIL DONG-MYUN ],"[HWASUN-GUN, CHONNA, WASHINGTON DC]",DC,20001,4758,"7,412.00",1.56
18,DON,DUMOND,[NOT EMPLOYED],[NOT EMPLOYED],"[1744 MOSS ST, 1744 MOSS ST ]",[EUGENE],OR,97403,4709,"25,266.90",5.37
19,VIRGINIA,SMITH,"[NONE, NOT EMPLOYED, RETIRED]","[NONE, NOT EMPLOYED, RETIRED]","[130 BULMER DRIVE, 130BULMER DRIVE, 130 NULMER...",[STRATFORD],CT,06614,4678,"73,934.40",15.80
20,ALICE,CARY,"[NOT EMPLOYED, RETIRED]","[NONE, NOT EMPLOYED]",[33 LINDA AVE 2503],[OAKLAND],CA,94611,4609,"47,781.10",10.37
21,LINDA,KOHN,[NURSE PRACTITIONER],[WHITFORD FAMILY MEDICINE],"[PO BOX 655, POBOX 655]",[DEVAULT],PA,19432,4405,"12,825.43",2.91
22,JAN,WISE,[NOT EMPLOYED],[NOT EMPLOYED],"[4308 SELKIRK DR W, 4308 SELKIRK W DR 3717747671]",[FORT WORTH],TX,76109,4315,"26,246.97",6.08
23,JAN,GARRETT,[NONE],[NONE],[2108 MCCUBBIN DR],[BOWLING GREEN],KY,42104,4295,"17,828.82",4.15
24,BRENDA,TROUP,[NONE],[NONE],[21 MEADOW ROAD],[BOLTON],MA,01740,4269,"18,861.97",4.42
25,GLENN,ZOSKI,"[NOT EMPLOYED, RETIRED]","[NONE, NOT EMPLOYED]",[11300 COROBON LANE],[GREAT FALLS],VA,22066,4120,"23,793.21",5.78
26,W ROBERT,MURPHY,[NOT EMPLOYED],"[NONE, NOT EMPLOYED]","[7800 E LINCOLN DR UNIT1108, 800 E LINCOLN DR...",[SCOTTSDALE],AZ,85250,4086,"53,778.07",13.16
27,JAMES,MARSH,[NOT EMPLOYED],[NOT EMPLOYED],[5204 COLLINGSWOOD],[RALEIGH],NC,27609,4006,"33,146.71",8.27
28,THOMAS,RE',[ENTREPRENEUR],[SELF],[661 BLANDFORD ROAD],[GRANVILLE],MA,01034,3992,"25,796.79",6.46
29,SONIA,IMMASCHE,"[NONE, NOT EMPLOYED, RETIRED]","[NONE, NOT EMPLOYED, RETIRED]",[730 COTTONWOOD DRIVE],[FORT COLLINS],CO,80524,3919,"15,144.52",3.86
...,...,...,...,...,...,...,...,...,...,...,...
70,CAROLYN,LENZ,[NOT EMPLOYED],[NOT EMPLOYED],[337 S 4TH AVENUE],[TUCSON],AZ,85701,2726,"26,970.30",9.89
71,ELIZABETH M.,POSTELL,[NONE],[NONE],[425 DAVIS ST UNIT 909],[EVANSTON],IL,60201,2691,"54,097.30",20.10
72,STEPHEN,PILDER,[ASSOCIATE PROFESSOR],[TEMPLE UNIVERSITY SCHOOL OF MEDICINE],"[505 CRUM LYNNE RD, 505 CRUM LYNNE RD ]",[RIDLEY PARK],PA,19078,2642,"29,387.46",11.12
73,MARILYN,BAILEY,[NOT EMPLOYED],[NOT EMPLOYED],[2001 SANFORD AVE],[SANFORD],FL,32771,2639,"22,767.75",8.63
74,ROTRAUD,COFFEY,[NOT EMPLOYED],"[NONE, NOT EMPLOYED]","[3304 OAKELLAR AVE, 3304 W OAKELLAR AVE]",[TAMPA],FL,33611,2616,"5,565.45",2.13
75,EDWARD,MOCKFORD,"[NOT EMPLOYED, RETIRED]","[NONE, NOT EMPLOYED]","[505 BOWLES ST, 505 BOWLES ST ]",[NORMAL],IL,61761,2591,"27,749.02",10.71
76,STEPHEN,STOKER,"[NONE, NOT EMPLOYED, RETIRED]","[NONE, RETIRED]","[1036 IVY LANE, 8401 N NEW BRAUNFELS NUMBER 135]",[SAN ANTONIO],TX,78209,2585,"2,166.47",0.84
77,JUDITH,SHATTUCK,[NONE],[NONE],[2925 DEAKIN ST ],"[BERKELEY,]",CA,94705,2512,"30,993.32",12.34
78,COLLEEN,JEW,[NOT EMPLOYED],[NOT EMPLOYED],[3124 ARIZONA STREET],[OAKLAND],CA,94602,2510,"15,049.99",6.00
79,ELIZABETH,WILLIAMS,[NOT EMPLOYED],[NOT EMPLOYED],[1111 10TH STREET],[ALAMOGORDO],NM,88310,2508,"13,565.50",5.41
80,BEVERLY,MULLINEAUX,[NOT EMPLOYED],[NOT EMPLOYED],[602 N 116TH ST NONE],[WAUWATOSA],WI,53226,2506,"23,537.03",9.39
81,MARGUERITE,JORGENSEN,[NOT EMPLOYED],[NOT EMPLOYED],"[560 E CHANNEL ROAD, 560 ECHANNE ROAD]",[SANTA MONICA],CA,90402,2489,"9,765.50",3.92
82,SUZIE,RHEA HAUGHN,"[NONE, RETIRED]","[NONE, RETIRED]","[1725PO, 1725 SUN CITY AZ 85372, PO 1725]",[SUN CITY],AZ,85372,2484,"10,946.22",4.41
83,DAVID,CATCHPOLE,"[NOT EMPLOYED, RETIRED]","[NOT EMPLOYED, RETIRED]","[3206 KENDALE VE NW, 3206 KONDALE AVE NW]",[CONCORD],NC,28027,2434,"10,801.30",4.44
84,NIEVES,POUSADA,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]",[18 ORCHARD ST ],[MONTROSE],NY,10548,2423,"7,616.26",3.14
85,WYATT & LINDA,UNDERWOOD,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]",[17834 BURBANK BLVD APT 204],[ENCINO],CA,91316,2412,"12,521.00",5.19
86,JOHN,MOORHOUSE,[NOT EMPLOYED],[NOT EMPLOYED],[6250 ALFRED HARRELL HWY ],[BAKERSFIELD],CA,93308,2407,"20,907.65",8.69
87,BEN,RUBINROI,[ACCOUNTAINT],[SELF],[739 DUMONT PL],[VALLEY],NY,11581,2391,"1,606.78",0.67
88,DENNIS,ALANEN,[NONE],[NONE],[3077 EVELYN ST ],[ROSEVILLE],MN,55113,2387,"3,392.72",1.42
89,STEPHEN,SWITZER,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]","[2529 MORNINGSTAR RD, 2529 MORNINGSTAR ROAD]",[MANASQUAN],NJ,08736,2364,"12,421.25",5.25
90,CATHERINE,BOYAN,[NOT EMPLOYED],[NONE],[4 S COVE RD],[BURLINGTON],VT,05401,2346,"48,682.10",20.75
91,ANN,RUCHHOFT,[NOT EMPLOYED],[NOT EMPLOYED],[1265 FOREST COURT],[CINCINNATI],OH,45215,2340,"33,348.47",14.25
92,ANN MARIE,HARRISON,"[NOT EMPLOYED, RETIRED]","[NOT EMPLOYED, RETIRED]","[4200 JACKSON AVE APT 2002, 4200 JACKSON AVENU...",[AUSTIN],TX,78731,2308,"15,669.34",6.79
93,JOSEPH,SIMONE,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]","[4781 CHERRING DR , 4781 CHERRING DRIVE]","[ATLANTA, DUNWOODY]",GA,30338,2306,"16,072.90",6.97
94,LARRY,AUERBACH,[PROFESSOR],"[UNIVERSITY SOUTHERN CALIFORNIA, UNIV SOUTHERN...",[1040 COVE WAY],[BEVERLY HILLS],CA,90210,2297,"16,331.69",7.11
95,JON,GOERNER,[RETAIL],[OUTLINES MENSWEAR],[4423 COLE AVE 103],[DALLAS],TX,75205,2289,"9,656.38",4.22
96,JOYCE,THIBODEAUX,[NOT EMPLOYED],[NONE],[113 OAKDALE LOOP],[HOUMA],LA,70360,2262,"76,728.89",33.92
97,MARGERY,PALMER,[MATH COACH],[SELF],[4 BRIARWOOD LN],[MISSOULA],MT,59803,2261,"13,415.90",5.93
98,WALTER,HANSON,"[NONE, NOT EMPLOYED]","[NONE, NOT EMPLOYED]",[2364 HIGHLAND LOOP],"[PORT TOWNSEND, PT TOWNSEND]",WA,98368,2248,"17,515.50",7.79
99,WILLIAM,LYTLE,[NOT EMPLOYED],[NOT EMPLOYED],[303 LINDEN PONDS WAY],[HINGHAM],MA,02043,2247,"16,275.10",7.24

### Where do contributors give from?

### Spreadsheet of the 1,307 candidate committees that got at least some money through ActBlue this cycle.

### Questions to answer
> - Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?
> - Where is the money going? Are people giving to local candidates or are they giving to candidates around the country? Which campaigns/candidates/groups have done the best job tapping into this network?
> - What’s the gender breakdown and how does it compare to the gender breakdown of itemized contributions? Is it different?
> - Are these new donors?
> - Can we tell if these are recurring contributions or one time contributions?
> - Do the majority of these donors give repeatedly or are they one and done? How does that compare to itemized contributions? How “sticky” is this?