# ActBlue donor profile

In [9]:
import json
import numpy as np
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import os

In [3]:
%matplotlib inline

plt.style.use('ggplot')

pd.options.display.float_format = '{:,.2f}'.format

In [7]:
def read_or_save(name, func):
    path = 'pickles/' + name + '.pickle.gz'
    if (os.path.isfile(path)):
        return pd.read_pickle(path)
    else:
        result = func()
        os.makedirs('pickles', exist_ok=True)
        result.to_pickle(path)
        return result

In [4]:
committee_id = "C00401224"
year_since = 2013

### Connect to the PostgreSQL database

In [5]:
with open("config.json") as f:
    conf = json.load(f)
conn = psycopg2.connect(
    dbname=conf['dbname'],
    user=conf['user'],
    host=conf['host'],
    password=conf['password']
)

### Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?

In [10]:
actblue_states = read_or_save(
    'actblue_states',
    lambda: pd.read_sql("""
    SELECT contributor_state,
           count(*),
           sum(contribution_amount)
    FROM fec_contributions
    WHERE filing_id IN
        (SELECT filing_id
         FROM fec_pac_summaries
         JOIN fec_amended_filings USING (filing_id)
         WHERE filer_committee_id_number = '""" + committee_id + """'
           AND extract(YEAR
                       FROM coverage_through_date) > """ + str(year_since) + """
         ORDER BY coverage_through_date DESC)
      AND form_type = 'SA11AI'
    GROUP BY contributor_state
    """, con=conn)
)
actblue_states.sort_values(by=['sum'], ascending=False)

    contributor_state     count            sum
30                 CA  12062776 283,218,125.72
44                 NY   5628188 157,311,026.41
50                 MA   2773802  72,470,951.55
51                 TX   3112392  65,044,446.34
1                  FL   3159095  64,572,158.63
11                 IL   2471078  54,557,368.54
32                 WA   2741416  51,188,999.37
52                 PA   2163765  44,781,490.78
37                 VA   1627316  44,353,311.58
74                 MD   1467096  40,147,179.65
89                 CO   1743474  36,698,913.26
102                NJ   1658220  34,567,365.41
16                 MI   1625481  30,697,269.22
79                 DC    473208  29,613,824.08
53                 AZ   1520183  29,112,874.46
4                  OR   1909208  29,109,770.12
60                 NC   1459759  28,720,620.93
24                 CT   1093373  27,062,313.44
82                 OH   1413783  25,600,178.99
21                 MN   1194763  22,672,181.33
78                 WI   1178090  22,414,907.99
76                 GA   1089076  20,937,901.31
66                 MO    834215  16,710,006.46
58                 NM    781732  14,215,954.03
13                 IN    668311  11,551,978.93
97                 NH    484771  11,174,925.17
84                 NV    498377  10,933,134.71
95                 TN    626122  10,708,655.19
63                 VT    500320   9,498,225.91
41                 IA    472207   9,481,083.92
..                ...       ...            ...
5                  NU        59         876.30
17                 ZH        12         668.50
73                 WC       241         279.00
87                 HE        92         239.90
38                 BY        30         217.50
45                 92         1         200.00
47                 OM        20         179.02
80                 TV        16         170.50
83                 RM         5         120.00
29                 BW        17         111.00
99                 SH         5         106.00
20                 TR         1         100.00
40                 XX         4          55.00
104                HH         5          46.00
69                 GP        29          29.00
23                 BS         1          25.00
49                 TI         4          22.00
6                  BA         2          20.00
43                 GE         5          15.00
27                 NA         1          15.00
12                 RJ         1          10.00
81                 CL         2          10.00
7                  AG         1          10.00
98                 QO         2          10.00
72                 C0         1          10.00
101                PG         4          10.00
88                 SP         2           5.00
26                 LI         1           5.00
70                 YW         1           5.00
94                 UK         2           2.00

[105 rows x 3 columns]

### Questions to answer
> - Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?
> - Where is the money going? Are people giving to local candidates or are they giving to candidates around the country? Which campaigns/candidates/groups have done the best job tapping into this network?
> - What’s the gender breakdown and how does it compare to the gender breakdown of itemized contributions? Is it different?
> - Are these new donors?
> - Can we tell if these are recurring contributions or one time contributions?
> - Do the majority of these donors give repeatedly or are they one and done? How does that compare to itemized contributions? How “sticky” is this?