# ActBlue donor profile

In [1]:
import json
import numpy as np
import pandas as pd
import psycopg2

## Connect to the PostgreSQL database

In [2]:
with open("config.json") as f:
    conf = json.load(f)
conn = psycopg2.connect(**conf)
conn.autocommit = True

## What are we analyzing?

How many reports are in our database?

In [3]:
pd.read_sql("""
SELECT count(*)
FROM fec_filings;
""", con=conn)

    count
0  289511

Which ActBlue reports do we have?

In [4]:
actblue_summaries = pd.read_sql("""
SELECT *
FROM fec_pac_summaries
JOIN fec_amended_filings USING (filing_id)
WHERE filer_committee_id_number = 'C00401224';
""", con=conn)

actblue_summaries.sort_values(by='coverage_through_date', ascending=False)
actblue_summaries[['filing_id','form_type','committee_name','coverage_from_date','coverage_through_date','report_code']]

,filing_id,form_type,committee_name,coverage_from_date,coverage_through_date,report_code
0,903093,F3XN,ActBlue,2013-12-01,2013-12-31,YE
1,907993,F3XN,ActBlue,2014-01-01,2014-01-31,M2
2,912211,F3XN,ActBlue,2014-02-01,2014-02-28,M3
3,921401,F3XN,ActBlue,2014-03-01,2014-03-31,M4
4,926005,F3XN,ActBlue,2014-04-01,2014-04-30,M5
5,932286,F3XN,ActBlue,2014-05-01,2014-05-31,M6
6,942637,F3XN,ActBlue,2014-06-01,2014-06-30,M7
7,946367,F3XN,ActBlue,2014-07-01,2014-07-31,M8
8,952738,F3XN,ActBlue,2014-08-01,2014-08-31,M9
9,961472,F3XN,ActBlue,2014-09-01,2014-09-30,M10
10,964963,F3XN,ActBlue,2014-10-01,2014-10-15,12G
11,980316,F3XN,ActBlue,2014-10-16,2014-11-24,30G
12,1024608,F3XA,ActBlue,2015-01-01,2015-01-31,M2
13,1024632,F3XA,ActBlue,2015-02-01,2015-02-28,M3
14,1024649,F3XA,ActBlue,2015-03-01,2015-03-31,M4
15,1024737,F3XA,ActBlue,2015-04-01,2015-05-13,12R
16,1033935,F3XA,ActBlue,2015-05-14,2015-05-25,30S
17,1034000,F3XA,ActBlue,2015-05-26,2015-06-17,12P
18,1034148,F3XA,ActBlue,2015-06-18,2015-06-22,30R
19,1034155,F3XA,ActBlue,2015-06-23,2015-06-30,MY
20,1047732,F3XN,ActBlue,2015-07-01,2015-12-31,YE
21,1051660,F3XN,ActBlue,2016-01-01,2016-01-31,M2
22,1056917,F3XN,ActBlue,2016-02-01,2016-02-29,M3
23,1100745,F3XN,ActBlue,2016-08-01,2016-08-31,M9
24,1111238,F3XN,ActBlue,2016-09-01,2016-09-30,M10
25,1147747,F3XA,ActBlue,2016-03-01,2016-03-31,M4
26,1148088,F3XA,ActBlue,2016-04-01,2016-04-30,M5
27,1148219,F3XA,ActBlue,2016-05-01,2016-05-31,M6
28,1148378,F3XA,ActBlue,2016-06-01,2016-06-30,M7
29,1148387,F3XA,ActBlue,2016-07-01,2016-07-31,M8
30,1166156,F3XA,ActBlue,2017-01-01,2017-01-31,M2
31,1166534,F3XA,ActBlue,2016-11-29,2016-12-31,YE
32,1166544,F3XA,ActBlue,2016-10-20,2016-11-28,30G
33,1167570,F3XA,ActBlue,2016-10-01,2016-10-19,12G
34,1215697,F3XN,ActBlue,2018-02-01,2018-02-28,M3
35,1216764,F3XA,ActBlue,2017-02-01,2017-02-28,M3
36,1216920,F3XA,ActBlue,2017-03-01,2017-03-31,M4
37,1216926,F3XA,ActBlue,2017-04-01,2017-04-30,M5
38,1217152,F3XA,ActBlue,2017-05-01,2017-05-31,M6
39,1217173,F3XA,ActBlue,2017-06-01,2017-06-30,M7
40,1217370,F3XA,ActBlue,2017-07-01,2017-07-31,M8
41,1217404,F3XA,ActBlue,2017-08-01,2017-08-31,M9
42,1218757,F3XA,ActBlue,2017-09-01,2017-09-30,M10
43,1219420,F3XA,ActBlue,2017-10-01,2017-10-31,M11
44,1219434,F3XA,ActBlue,2017-11-01,2017-11-30,M12
45,1224404,F3XA,ActBlue,2018-01-01,2018-01-31,M2
46,1224416,F3XA,ActBlue,2017-12-01,2017-12-31,YE
47,1225971,F3XN,ActBlue,2018-03-01,2018-03-31,M4