# ActBlue donor profile

In [1]:
import json
import numpy as np
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import os

In [2]:
%matplotlib inline

plt.style.use('ggplot')

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
def read_or_save(name, func):
    path = 'pickles/' + name + '.pickle.gz'
    if (os.path.isfile(path)):
        return pd.read_pickle(path)
    else:
        result = func()
        os.makedirs('pickles', exist_ok=True)
        result.to_pickle(path)
        return result

In [4]:
committee_id = "C00401224"
year_since = 2013

### Connect to the PostgreSQL database

In [5]:
with open("config.json") as f:
    conf = json.load(f)
conn = psycopg2.connect(
    dbname=conf['dbname'],
    user=conf['user'],
    host=conf['host'],
    password=conf['password']
)

### Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?

In [6]:
actblue_states = read_or_save(
    'actblue_states',
    lambda: pd.read_sql("""
    SELECT contributor_state,
           count(*),
           sum(contribution_amount)
    FROM fec_contributions
    WHERE filing_id IN
        (SELECT filing_id
         FROM fec_pac_summaries
         JOIN fec_amended_filings USING (filing_id)
         WHERE filer_committee_id_number = '""" + committee_id + """'
           AND extract(YEAR
                       FROM coverage_through_date) > """ + str(year_since) + """
         ORDER BY coverage_through_date DESC)
      AND form_type = 'SA11AI'
    GROUP BY contributor_state
    """, con=conn)
)
actblue_states.sort_values(by=['sum'], ascending=False)

    contributor_state     count            sum
64                 CA  13239235 318,314,276.20
25                 NY   6129953 176,494,686.70
0                  MA   3020695  81,701,200.30
71                 TX   3533512  77,428,322.44
38                 FL   3453853  72,056,252.48
101                IL   2662826  60,217,852.22
105                WA   2986912  56,853,134.03
9                  VA   1792527  50,020,074.82
95                 PA   2351826  49,449,565.84
97                 MD   1602105  44,496,239.00
6                  CO   1868701  39,731,538.80
53                 NJ   1810824  39,447,629.93
54                 MI   1763868  33,898,591.47
84                 DC    523220  33,444,141.03
10                 AZ   1647137  31,879,457.45
70                 OR   2065539  31,644,358.64
86                 NC   1572437  31,381,411.02
41                 CT   1191402  29,921,415.78
19                 OH   1560213  29,084,675.63
94                 MN   1298052  25,633,771.08
87                 WI   1263907  24,346,395.35
91                 GA   1177306  22,724,599.92
85                 MO    910582  19,026,477.34
78                 NM    849156  15,703,048.64
31                 IN    728544  13,196,725.36
18                 NV    544649  12,203,252.67
102                TN    688591  12,072,206.37
66                 NH    517145  11,944,483.82
2                  IA    507740  10,301,760.91
5                  VT    525195  10,041,238.41
..                ...       ...            ...
60                 ZH        15         685.50
51                 BY        48         366.00
82                 WC       241         279.00
77                 HE       104         272.90
24                 TV        19         203.50
50                 92         1         200.00
93                 OM        20         179.02
63                 RM         5         120.00
52                 BW        19         119.80
73                 SH         5         106.00
103                TR         1         100.00
55                 XX         4          55.00
80                 UK         3          52.00
23                 MH         2          50.00
44                 HH         5          46.00
104                GP        29          29.00
17                 BS         1          25.00
3                  TI         4          22.00
100                BA         2          20.00
33                 GE         5          15.00
43                 NA         1          15.00
27                 CL         2          10.00
75                 PG         4          10.00
34                 QO         2          10.00
81                 AG         1          10.00
68                 C0         1          10.00
49                 RJ         1          10.00
92                 SP         2           5.00
37                 LI         1           5.00
22                 YW         1           5.00

[106 rows x 3 columns]

In [7]:
clinton_votes = pd.read_csv('clintonvotes.csv')

clinton_votes

votes_vs_contribs = actblue_states.merge(clinton_votes, left_on='contributor_state', right_on='postal', how='inner')

votes_vs_contribs['dollars_per'] = votes_vs_contribs['sum']/votes_vs_contribs['votes']

votes_vs_contribs.sort_values(by=['dollars_per'], ascending=False)

,contributor_state,count,sum,state,postal,votes,dollars_per
36,DC,523220,"33,444,141.03",District of Columbia,DC,282830,118.25
3,VT,525195,"10,041,238.41",Vermont,VT,178573,56.23
23,MT,345027,"8,503,954.38",Montana,MT,177709,47.85
0,MA,3020695,"81,701,200.30",Massachusetts,MA,1995196,40.95
34,NM,849156,"15,703,048.64",New Mexico,NM,385234,40.76
11,NY,6129953,"176,494,686.70",New York,NY,4556142,38.74
29,CA,13239235,"318,314,276.20",California,CA,8753792,36.36
46,AK,214218,"4,211,615.35",Alaska,AK,116454,36.17
21,WY,81779,"1,923,626.59",Wyoming,WY,55973,34.37
30,NH,517145,"11,944,483.82",New Hampshire,NH,348526,34.27
19,CT,1191402,"29,921,415.78",Connecticut,CT,897572,33.34
50,WA,2986912,"56,853,134.03",Washington,WA,1742718,32.62
31,OR,2065539,"31,644,358.64",Oregon,OR,1002106,31.58
4,CO,1868701,"39,731,538.80",Colorado,CO,1338870,29.68
12,HI,387081,"7,828,420.62",Hawaii,HI,266891,29.33
17,ME,506967,"9,863,796.35",Maine,ME,357735,27.57
6,AZ,1647137,"31,879,457.45",Arizona,AZ,1161167,27.45
47,MD,1602105,"44,496,239.00",Maryland,MD,1677928,26.52
5,VA,1792527,"50,020,074.82",Virginia,VA,1981473,25.24
26,UT,360663,"7,342,102.50",Utah,UT,310676,23.63
40,RI,260026,"5,868,207.75",Rhode Island,RI,252525,23.24
9,NV,544649,"12,203,252.67",Nevada,NV,539260,22.63
8,ND,73084,"1,894,707.85",North Dakota,ND,93758,20.21
32,TX,3533512,"77,428,322.44",Texas,TX,3877868,19.97
48,IL,2662826,"60,217,852.22",Illinois,IL,3090729,19.48
44,MN,1298052,"25,633,771.08",Minnesota,MN,1367825,18.74
42,ID,241359,"3,545,837.74",Idaho,ID,189765,18.69
24,NJ,1810824,"39,447,629.93",New Jersey,NJ,2148278,18.36
15,NE,253918,"5,086,829.47",Nebraska,NE,284494,17.88
37,MO,910582,"19,026,477.34",Missouri,MO,1071068,17.76
39,WI,1263907,"24,346,395.35",Wisconsin,WI,1382536,17.61
45,PA,2351826,"49,449,565.84",Pennsylvania,PA,2926441,16.90
7,KS,399892,"7,138,502.03",Kansas,KS,427005,16.72
14,WV,177188,"3,148,448.23",West Virginia,WV,188794,16.68
16,FL,3453853,"72,056,252.48",Florida,FL,4504975,15.99
28,DE,186256,"3,754,142.51",Delaware,DE,235603,15.93
2,IA,507740,"10,301,760.91",Iowa,IA,653669,15.76
25,MI,1763868,"33,898,591.47",Michigan,MI,2268839,14.94
20,SD,78437,"1,748,083.40",South Dakota,SD,117458,14.88
18,AR,268301,"5,534,757.39",Arkansas,AR,380494,14.55
38,NC,1572437,"31,381,411.02",North Carolina,NC,2189316,14.33
33,KY,419632,"8,812,983.03",Kentucky,KY,628854,14.01
49,TN,688591,"12,072,206.37",Tennessee,TN,870695,13.87
13,IN,728544,"13,196,725.36",Indiana,IN,1033126,12.77
41,OK,330729,"5,300,110.25",Oklahoma,OK,420375,12.61
10,OH,1560213,"29,084,675.63",Ohio,OH,2394169,12.15
43,GA,1177306,"22,724,599.92",Georgia,GA,1877963,12.10
22,LA,341757,"6,910,929.79",Louisiana,LA,780154,8.86
1,AL,338693,"6,451,105.30",Alabama,AL,729547,8.84
27,SC,426720,"7,384,809.61",South Carolina,SC,855373,8.63
35,MS,117495,"2,152,565.79",Mississippi,MS,485131,4.44

In [8]:
votes_vs_contribs['contribs_per'] = votes_vs_contribs['count']/votes_vs_contribs['votes']

votes_vs_contribs.sort_values(by=['contribs_per'], ascending=False)

,contributor_state,count,sum,state,postal,votes,dollars_per,contribs_per
3,VT,525195,"10,041,238.41",Vermont,VT,178573,56.23,2.94
34,NM,849156,"15,703,048.64",New Mexico,NM,385234,40.76,2.20
31,OR,2065539,"31,644,358.64",Oregon,OR,1002106,31.58,2.06
23,MT,345027,"8,503,954.38",Montana,MT,177709,47.85,1.94
36,DC,523220,"33,444,141.03",District of Columbia,DC,282830,118.25,1.85
46,AK,214218,"4,211,615.35",Alaska,AK,116454,36.17,1.84
50,WA,2986912,"56,853,134.03",Washington,WA,1742718,32.62,1.71
0,MA,3020695,"81,701,200.30",Massachusetts,MA,1995196,40.95,1.51
29,CA,13239235,"318,314,276.20",California,CA,8753792,36.36,1.51
30,NH,517145,"11,944,483.82",New Hampshire,NH,348526,34.27,1.48
21,WY,81779,"1,923,626.59",Wyoming,WY,55973,34.37,1.46
12,HI,387081,"7,828,420.62",Hawaii,HI,266891,29.33,1.45
6,AZ,1647137,"31,879,457.45",Arizona,AZ,1161167,27.45,1.42
17,ME,506967,"9,863,796.35",Maine,ME,357735,27.57,1.42
4,CO,1868701,"39,731,538.80",Colorado,CO,1338870,29.68,1.40
11,NY,6129953,"176,494,686.70",New York,NY,4556142,38.74,1.35
19,CT,1191402,"29,921,415.78",Connecticut,CT,897572,33.34,1.33
42,ID,241359,"3,545,837.74",Idaho,ID,189765,18.69,1.27
26,UT,360663,"7,342,102.50",Utah,UT,310676,23.63,1.16
40,RI,260026,"5,868,207.75",Rhode Island,RI,252525,23.24,1.03
9,NV,544649,"12,203,252.67",Nevada,NV,539260,22.63,1.01
47,MD,1602105,"44,496,239.00",Maryland,MD,1677928,26.52,0.95
44,MN,1298052,"25,633,771.08",Minnesota,MN,1367825,18.74,0.95
14,WV,177188,"3,148,448.23",West Virginia,WV,188794,16.68,0.94
7,KS,399892,"7,138,502.03",Kansas,KS,427005,16.72,0.94
39,WI,1263907,"24,346,395.35",Wisconsin,WI,1382536,17.61,0.91
32,TX,3533512,"77,428,322.44",Texas,TX,3877868,19.97,0.91
5,VA,1792527,"50,020,074.82",Virginia,VA,1981473,25.24,0.90
15,NE,253918,"5,086,829.47",Nebraska,NE,284494,17.88,0.89
48,IL,2662826,"60,217,852.22",Illinois,IL,3090729,19.48,0.86
37,MO,910582,"19,026,477.34",Missouri,MO,1071068,17.76,0.85
24,NJ,1810824,"39,447,629.93",New Jersey,NJ,2148278,18.36,0.84
45,PA,2351826,"49,449,565.84",Pennsylvania,PA,2926441,16.90,0.80
49,TN,688591,"12,072,206.37",Tennessee,TN,870695,13.87,0.79
28,DE,186256,"3,754,142.51",Delaware,DE,235603,15.93,0.79
41,OK,330729,"5,300,110.25",Oklahoma,OK,420375,12.61,0.79
8,ND,73084,"1,894,707.85",North Dakota,ND,93758,20.21,0.78
25,MI,1763868,"33,898,591.47",Michigan,MI,2268839,14.94,0.78
2,IA,507740,"10,301,760.91",Iowa,IA,653669,15.76,0.78
16,FL,3453853,"72,056,252.48",Florida,FL,4504975,15.99,0.77
38,NC,1572437,"31,381,411.02",North Carolina,NC,2189316,14.33,0.72
13,IN,728544,"13,196,725.36",Indiana,IN,1033126,12.77,0.71
18,AR,268301,"5,534,757.39",Arkansas,AR,380494,14.55,0.71
20,SD,78437,"1,748,083.40",South Dakota,SD,117458,14.88,0.67
33,KY,419632,"8,812,983.03",Kentucky,KY,628854,14.01,0.67
10,OH,1560213,"29,084,675.63",Ohio,OH,2394169,12.15,0.65
43,GA,1177306,"22,724,599.92",Georgia,GA,1877963,12.10,0.63
27,SC,426720,"7,384,809.61",South Carolina,SC,855373,8.63,0.50
1,AL,338693,"6,451,105.30",Alabama,AL,729547,8.84,0.46
22,LA,341757,"6,910,929.79",Louisiana,LA,780154,8.86,0.44
35,MS,117495,"2,152,565.79",Mississippi,MS,485131,4.44,0.24

In [ ]:
actblue_in_state = read_or_save(
    'actblue_in_state',
    lambda: pd.read_sql("""
    SELECT CASE
               WHEN beneficiary_candidate_state = contributor_state THEN TRUE
               ELSE FALSE
           END AS in_state,
           sum(contribution_amount),
           count(*)
    FROM fec_contributions
    JOIN fec_expenditures ON fec_contributions.filing_id IN
      (SELECT filing_id
       FROM fec_pac_summaries
       JOIN fec_amended_filings USING (filing_id)
       WHERE filer_committee_id_number = '""" + committee_id + """'
         AND extract(YEAR
                     FROM coverage_through_date) > 2016
       ORDER BY coverage_through_date DESC)
    AND fec_expenditures.filing_id = fec_contributions.filing_id
    AND fec_contributions.form_type = 'SA11AI'
    AND fec_expenditures.form_type = 'SB23'
    AND replace(transaction_id_number,'SB23_','') = replace(transaction_id,'SA11AI_','')
    AND beneficiary_candidate_state IS NOT NULL
    GROUP BY in_state
    """, con=conn)
)
actblue_in_state

In [ ]:
actblue_freq = read_or_save(
    'actblue_freq',
    lambda: pd.read_sql("""
    SELECT COUNT,
           count(*) AS count_of_count
    FROM
      (SELECT contributor_first_name,
              contributor_last_name,
              left(contributor_zip_code,5),
              count(*) AS COUNT
       FROM fec_contributions
       WHERE filing_id IN
           (SELECT filing_id
            FROM fec_pac_summaries
            JOIN fec_amended_filings USING (filing_id)
            WHERE filer_committee_id_number = '""" + committee_id + """'
              AND extract(YEAR
                          FROM coverage_through_date) > 2016
            ORDER BY coverage_through_date DESC)
         AND form_type = 'SA11AI'
       GROUP BY contributor_first_name,
                contributor_last_name,
                left(contributor_zip_code,5)) AS donors
    GROUP BY COUNT
    """, con=conn)
)
actblue_freq

In [ ]:
actblue_addicts = read_or_save(
    'actblue_addicts',
    lambda: pd.read_sql("""
    SELECT COUNT,
           count(*) AS count_of_count,
           array_agg(DISTINCT contributor_organization_name),
           array_agg(DISTINCT contributor_first_name),
           array_agg(DISTINCT contributor_last_name),
           array_agg(DISTINCT contributor_zip_code)
    FROM
      (SELECT contributor_organization_name,
              contributor_first_name,
              contributor_last_name,
              left(contributor_zip_code,5) as contributor_zip_code,
              count(*) AS COUNT
       FROM fec_contributions
       WHERE filing_id IN
           (SELECT filing_id
            FROM fec_pac_summaries
            JOIN fec_amended_filings USING (filing_id)
            WHERE filer_committee_id_number = '""" + committee_id + """'
              AND extract(YEAR
                          FROM coverage_through_date) > 2016
            ORDER BY coverage_through_date DESC)
         AND form_type = 'SA11AI'
       GROUP BY contributor_organization_name,
                contributor_first_name,
                contributor_last_name,
                left(contributor_zip_code,5)) AS donors
    GROUP BY COUNT
    HAVING count(*) <= 3
    ORDER BY COUNT DESC
    LIMIT 30
    """, con=conn)
)
actblue_addicts

### Where do contributors give from?

### Spreadsheet of the 1,307 candidate committees that got at least some money through ActBlue this cycle.

### Questions to answer
> - Where do the donors giving through ActBlue come from geographically? Any striking or interesting patterns, or zip codes that typically don’t contribute?
> - Where is the money going? Are people giving to local candidates or are they giving to candidates around the country? Which campaigns/candidates/groups have done the best job tapping into this network?
> - What’s the gender breakdown and how does it compare to the gender breakdown of itemized contributions? Is it different?
> - Are these new donors?
> - Can we tell if these are recurring contributions or one time contributions?
> - Do the majority of these donors give repeatedly or are they one and done? How does that compare to itemized contributions? How “sticky” is this?